/* Bysic Styles */
*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    line-height: 27px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #797979;
    letter-spacing: 0.2px;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.container.main {
    display: flex;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0;
    line-height: 52px;
    text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #05364d;
}

li {
    list-style-type: none;
}

.box-item h6:hover,
.service-link:hover {
    color: white;
}

a {
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.gray-text {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1rem;
}

.gray-text span {
    position: relative;
    top: -2px;
    display: inline-block;
    margin-left: 5px;
    width: 80px;
    height: 4px;
    filter: blur(4px);
    border-radius: 5px;
    background: rgba(237, 35, 159, .6);
}









/* CONTACT ME section */

.contact {
    padding: 200px 0;
}

.contact-body {
    display: flex;
}

.contact-title {
    margin-bottom: 20px;
    font-size: 2.1rem;
}

.contact-form {
    flex-basis: 68%;
}

.contact-form textarea,
input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.85rem;
    width: 95%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 6px;
    outline: none;
    color: #495057;
    border: 1px solid rgba(204, 200, 200, 0.8);
    background: transparent;
}

.contact-form textarea {
    resize: none;
}

.contact-form div {
    display: flex;
}

.contact-form div input {
    flex-basis: 46.1%;
}

.contact-form div input:first-child {
    margin-right: 20px;
}

.contact-form button {
    padding: 17px 38px;
    border-radius: 6px;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 30px;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    background: linear-gradient(to right, #c31432 0%, #240b36 51%, #c31432 100%);
    background-size: 200% auto;
}

.contact-form button:hover {
    background-position: right center;
    color: #fff;
}




.contact-info {}

.contact-info-item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.icon-contact {
    font-size: 1.8rem;
    font-weight: 400;
    color: #aba0a0;
}

.info-contact {
    margin-left: 28px;
}

.info-contact h5,
p {
    margin: 0;
    padding: 0;
    letter-spacing: 0.2px;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
}

.info-contact h5 {
    font-size: 1.1rem;
    font-weight: 700;
}

.info-contact p {
    color: rgb(155, 146, 146);
    font-weight: 300;
}




























/* Footer section */
.footer-section {
    padding: 120px 0 120px;
    background-color: #021017;
}

.footer-body {
    text-align: center;
}

.footer-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer-list li {
    margin: 0 20px;
}

.footer-list a {
    color: white;
    font-size: 0.85rem;
    text-transform: uppercase;
    font-weight: 500;
}

.footer-icons {
    margin: 30px 0;
}

.footer-icon {
    margin: 0px 8px;
    display: inline-block;
    padding: 7px 16px;
    font-size: 1.1rem;
    border-radius: 50%;
    background-color: #fff;
    color: black;
    transition: all ease-in 0.3s;
}

.footer-icon:hover {
    color: white;
    background: -webkit-linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
    background: -moz-linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
    background: -o-linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
}

.footer-text span {
    color: #a932c7;
    cursor: pointer;
}








/* MEdia Zapros */

@media only screen and (max-width: 1200px) {
    .header-section {
        padding: 0px 40px;
    }

    .contact {
        padding: 200px 40px;
    }
}




@media only screen and (max-width: 991px) {
    .header-section {
        padding: 26px 130px;
    }

    .header-navigation__items {
        display: none;
    }

    .container {
        max-width: 960px;
        margin: 0 auto;
    }

    .contact {
        padding: 170px 130px 100px;
    }

    .contact-title {
        margin-bottom: 20px;
        font-size: 30px;
    }

    .contact-body {
        display: flex;
        flex-direction: column;
    }

    .contact-form button {
        margin: 10px 0 49px;
    }

    .icon-contact {
        font-size: 26px;
    }

    .info-contact h5 {
        font-size: 16px;
    }

    .info-contact p {
        font-size: 14px;
    }

    .footer-list {
        display: none;
    }
}










@media only screen and (max-width: 766px) {
    .header-section {
        padding: 26px 110px;
    }

    .contact {
        padding: 163px 110px 100px;
    }

    .footer-section {
        padding: 90px 0;
    }
}










@media only screen and (max-width: 575px) {
    .header-section {
        padding: 26px 30px;
    }

    .contact {
        padding: 120px 30px 80px;
    }

    .contact-form div {
        display: flex;
        flex-direction: column;
    }

    .footer-section {
        padding: 85px 20px;
    }
}